.clicks {
  font-family: Roboto-Bold;
  font-size: '84px';
  color: #37474f;
}

button {
  background: #5e19f5;
  border: '1px' solid #979797;
  border-radius: '8px';
  font-family: Roboto-Regular;
  font-size: '32px';
  color: #ffffff;
}
